body {
    
    background: url("ocean.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;

}

.container1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    margin-bottom: 40px;
}

hr {
    border: none;           /* Removes the default border */
    height: 1px;            /* Sets the height/thickness */
    background-color: rgb(39, 11, 77);  /* Sets the color */
}

.container2{
    /*max-width: 800px;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.container3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

p{
    font-size: 17px;
    font-weight: lighter;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container3 li {
    background: rgb(175, 222, 255);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
}
a:hover {
    text-decoration: underline;
}

#main_link{
    background-color: white;
    color: rgb(9, 35, 58);
}

footer{
    width: 100%;
    flex-shrink: 0;
    position: relative;/*Ensure it's positioned normally in the flow*/
    margin-top: auto; /* Pushes the footer to the bottom */
}
  